{% load widget_tweaks %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% block stylesheets %}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	{% endblock stylesheets %}
</head>

<body>
	<div class="container">
		<div class="card mx-auto col-12 col-md-4 mt-5 p-3 shadow-lg bg-white rounded">
	  <div class="card-body" >
	  		<h2 class="card-title">Generate-Summary</h2>
			<form method="post" enctype="multipart/form-data">
			  {% csrf_token %}

			  {% for hidden_field in form.hidden_fields %}
			    {{ hidden_field }}
			  {% endfor %}

			  {% if form.non_field_errors %}
			    <div class="alert alert-danger" role="alert">
			      {% for error in form.non_field_errors %}
			        {{ error }}
			      {% endfor %}
			    </div>
			  {% endif %}

			  {% for field in form.visible_fields %}
			    <div class="form-group">
			      {{ field.label_tag }}

			      {% if form.is_bound %}
			        {% if field.errors %}
			          {% render_field field class="form-control is-invalid" %}
			          {% for error in field.errors %}
			            <div class="invalid-feedback">
			              {{ error }}
			            </div>
			          {% endfor %}
			        {% else %}
			          {% render_field field class="form-control is-valid" %}
			        {% endif %}
			      {% else %}
			        {% render_field field class="form-control" %}
			      {% endif %}

			      {% if field.help_text %}
			        <small class="form-text text-muted">{{ field.help_text }}</small>
			      {% endif %}
			    </div>
			  {% endfor %}

			  <button type="submit" class="btn btn-dark">Submit</button>
			</form>
	  </div>
	</div>
	</div>	
	
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
</body>
</html>