{% load widget_tweaks %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% block stylesheets %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<style type="text/css">
	@media screen and (max-width: 600px) {
	  .column {
	    width: 100%;
	  }
	}
	</style>
	{% endblock stylesheets %}
</head>

<body>
	<br>


	<div class="container">
		
		<!--###### Navbar #####-->
		<nav class="navbar navbar-expand-md navbar-light navbar-transparent color-black navbar-fixed-top shadow-lg bg-white rounded">
		  <a class="navbar-brand" href="#"><b>Ai</b>SummaryTool</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="collapsibleNavbar">
		    <ul class="navbar-nav ml=auto">
		      {% if user.is_authenticated %}
		      <li class="nav-item active">
		      	<a href="{% url 'logout'%}" class="btn btn-transparent" type="button" name="button">Logout</a>	
		      </li>
		      {% else %}
		      <li class="nav-item active">
		      	<a href="{% url 'login'%}" class="btn btn-transparent" type="button" name="button">Login</a>	
		      </li>
		      {% endif %}
		    </ul>
		  </div>  
		</nav>
		<!--##### Navbar End ######-->

	

	<br>
	
		{% block content %}
		
		{% endblock %}
	

  	

  	<!--Contact Card-->
  	<footer class="footer" >
  		<div class="row h-100">
	   <div class="col-sm-12 my-auto">
	     <div class="card text-white bg-dark mb-3 p-3 shadow-lg rounded">
		  <div class="card-header"><h2><b>C</b>ontact Us</h2></div>
		  <div class="card-body">
		    <h5 class="card-title"></h5>
		    <p class="card-text"></p>
		  </div>
		</div>
	   </div>
	</div>
  	</footer>
  	<!--End Contact Card-->
  	</div>
  	
  	
	
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
</body>
</html>